language: node_js
node_js:
  - '0.10'
addons:
  sauce_connect: true
before_install:
  - npm install -g grunt-cli@0.1.13 karma-cli@0.0.4
script:
  - npm run travis
  - export PR=https://api.github.com/repos/$TRAVIS_REPO_SLUG/pulls/$TRAVIS_PULL_REQUEST
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo `curl -s $PR | jq -r .head.ref`; fi)
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, PR=$PR, BRANCH=$BRANCH"
sudo: false
cache:
  directories:
    - node_modules
    - bower_components
    - $HOME/.m2
after_success: |
  if [ -n "$GITHUB_API_KEY" ] && [ "$BRANCH" == "master" ]; then
    AUTHOR=$(git log -n 1 --pretty=format:"%an")
    EMAIL=$(git log -n 1 --pretty=format:"%ae")
    cd "$TRAVIS_BUILD_DIR/dist"
    git clone https://Bessonov:$GITHUB_API_KEY@github.com/Bessonov/bessonov.ng-t.dist
    mv ./* bessonov.ng-t.dist
    cd bessonov.ng-t.dist
    git add .
    TAG=$(cat "$TRAVIS_BUILD_DIR/package.json" | grep '"version":' | cut -d '"' -f 4)
    git -c user.name="$AUTHOR" -c user.email="$EMAIL" commit -m "Update dist to $TAG"
    git push -qf
    git tag $TAG
    git push -qf origin $TAG
  fi
